[submodule "extlibs/memory_manager"]
	path = extlibs/memory_manager
	url = https://github.com/VladislavAlpatov/memory_manager
[submodule "extlibs/omath"]
	path = extlibs/omath
	url = https://github.com/orange-cpp/omath
